@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&display=swap');
:root{
    --bg:#FFD553;
    --textprincipal:'Fira Code', monospace;
}
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
  
    
}
body{
    background-color: var(--bg);
    font-family: var(--textprincipal);
}
header{
    width: 100vw;
    padding:20px;
    text-align: center;
}
header h1{
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 100px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 650px;
}
.container-image{
    width: 550px;
    height: 500px;
    margin-left: -200px;
    border:none;
    overflow: hidden;

}
.container-image img{
    width: 100%;
    height: 100%;
    margin-left:-10px;
}
.form-container{
    width: 500px;
    height: 550px;
    margin:10px 0;
    margin-left:20px;
    background-color: #00000011;
    padding: 20px;
    border-radius: 5px;
    box-shadow: -5px 5px #0000006f;
    
}
textarea{
    height: 60px;
}
.form-container form{
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
form input{
    padding:5px;
    border:none;
    width: 400px;
    margin-left: 50px;
    border-radius: 5px;
    background-color: #f9e7739b;
}
input::placeholder{
    color:rgb(13, 13, 13);
}
input:focus{
    border-bottom:2px solid #fec109 ;
    outline: none;
}
label{
    font-weight:600;
}
textarea{
    border: none;
    background-color: #f9e7739b;
    padding: 10px;
}
textarea:focus{
    border:1px solid #fec109;
    outline: none;
}
.btn-form{
    border: none;
    background-color: #fec109;
    color:#000;
    border-radius:5px;
    height:25px;
    width: 200px;
    margin-left: 140px;
    margin-top: -15px;
}
footer{
    width: 100vw;
    text-align: center;
    margin-top: 25px;
}

/*responsividade*/

@media (max-width:320px){
    header{
    width: 100vw;
    padding:0;
    text-align: center;
}
    header h1{
        text-align:center;
        margin-left:100px;
    }
    .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    padding: 20px;
    height: 800px;
}
    .container-image{
    width: 300px;
    height: 300px;
    margin:10px 0 0 10px;
    border:none;
    overflow: hidden;

}
    .container-image img{
        width:310px;
        height:100%;
    }
    .form-container{
    width: 250px;
    height: 600px;
    margin:10px 20px 0 0;
    margin-left:20px;
    background-color: #00000011;
    padding: 20px;
    border-radius: 5px;
    box-shadow: -5px 5px #0000006f;
    
}
textarea{
    height: 60px;
}
.form-container form{
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
    form input{
    padding:5px;
    border:none;
    width: 200px;
    margin:0;
    border-radius: 5px;
    background-color: #f9e7739b;
}
input::placeholder{
    color:rgb(13, 13, 13);
}
input:focus{
    border-bottom:2px solid #fec109 ;
    outline: none;
}
label{
    font-weight:600;
}
textarea{
    border: none;
    background-color: #f9e7739b;
    padding: 10px;
}
textarea:focus{
    border:1px solid #fec109;
    outline: none;
}
.btn-form{
    border: none;
    background-color: #fec109;
    color:#000;
    border-radius:5px;
    height:25px;
    width: 200px;
    margin-left:5px;
    margin-top: -15px;
}
footer{
    width: 100vw;
    text-align: center;
    margin-top: 25px;
    padding:20px;
    font-size:16px;
}
    
}
@media (max-width:375px){
    header{
    width: 100vw;
    padding:0;
    text-align: center;
}
    header h1{
        text-align:center;
        margin-left:100px;
    }
    .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    padding: 20px;
    height: 900px;
}
    .container-image{
    width: 300px;
    height: 300px;
    margin:10px 0 0 10px;
    border:none;
    overflow: hidden;

}
    .container-image img{
        width:310px;
        height:100%;
}
    .form-container{
    width: 300px;
    height: 600px;
    margin:10px 20px 0 0;
    margin-left:20px;
    background-color: #00000011;
    padding: 20px;
    border-radius: 5px;
    box-shadow: -5px 5px #0000006f;
    
}
textarea{
    height: 60px;
}
.form-container form{
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
    form input{
    padding:5px;
    border:none;
    width: 250px;
    margin:0;
    border-radius: 5px;
    background-color: #f9e7739b;
}
input::placeholder{
    color:rgb(13, 13, 13);
}
input:focus{
    border-bottom:2px solid #fec109 ;
    outline: none;
}
label{
    font-weight:600;
}
textarea{
    border: none;
    background-color: #f9e7739b;
    padding: 10px;
}
textarea:focus{
    border:1px solid #fec109;
    outline: none;
}
.btn-form{
    border: none;
    background-color: #fec109;
    color:#000;
    border-radius:5px;
    height:25px;
    width: 200px;
    margin-left:25px;
    margin-top: -15px;
}
footer{
    width: 100vw;
    text-align: center;
    margin-top: 25px;
    padding:20px;
    font-size:16px;
}
}
@media (max-width:425px){
    header{
        width: 100vw;
        padding:0;
        text-align: center;
    }
        header h1{
            text-align:center;
            margin-left:100px;
        }
        .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
        padding: 20px;
        height: 900px;
    }
        .container-image{
        width: 300px;
        height: 300px;
        margin:10px 0 0 10px;
        border:none;
        overflow: hidden;
    
    }
    .container-image img{
        width:310px;
        height:100%;
}
        .form-container{
        width: 300px;
        height: 600px;
        margin:10px 20px 0 0;
        margin-left:20px;
        background-color: #00000011;
        padding: 20px;
        border-radius: 5px;
        box-shadow: -5px 5px #0000006f;
        
    }
    textarea{
        height: 60px;
    }
    .form-container form{
        display:flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
        form input{
        padding:5px;
        border:none;
        width: 250px;
        margin:0;
        border-radius: 5px;
        background-color: #f9e7739b;
    }
    input::placeholder{
        color:rgb(13, 13, 13);
    }
    input:focus{
        border-bottom:2px solid #fec109 ;
        outline: none;
    }
    label{
        font-weight:600;
    }
    textarea{
        border: none;
        background-color: #f9e7739b;
        padding: 10px;
    }
    textarea:focus{
        border:1px solid #fec109;
        outline: none;
    }
    .btn-form{
        border: none;
        background-color: #fec109;
        color:#000;
        border-radius:5px;
        height:25px;
        width: 200px;
        margin-left:25px;
        margin-top: -15px;
    }
    footer{
        width: 100vw;
        text-align: center;
        margin-top: 25px;
        padding:20px;
        font-size:16px;
    }

}
@media (max-width:768px){

    header{
        width: 100vw;
        padding:0;
        text-align: center;
    }
        header h1{
            text-align:center;
            margin-left:100px;
        }
        .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:row;
        padding: 5px;
        height: 500px;
    }
        .container-image{
        width: 300px;
        height: 300px;
        margin:-50px 0 0 10px;
        border:none;
        overflow: hidden;
    
    }
    .container-image img{
        width:320px;
        height:100%;
        
}
        .form-container{
        width: 300px;
        height: 450px;
        margin:-50px 20px 0 0;
        margin-left:20px;
        background-color: #00000011;
        padding: 20px;
        border-radius: 5px;
        box-shadow: -5px 5px #0000006f;
        font-size:12px;
        
    }
    textarea{
        height: 30px;
    }
    .form-container form{
        display:flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
        form input{
        padding:5px;
        border:none;
        width: 250px;
        margin:0;
        border-radius: 5px;
        background-color: #f9e7739b;
    }
    input::placeholder{
        color:rgb(13, 13, 13);
    }
    input:focus{
        border-bottom:2px solid #fec109 ;
        outline: none;
    }
    label{
        font-weight:600;
    }
    textarea{
        border: none;
        background-color: #f9e7739b;
        padding: 10px;
    }
    textarea:focus{
        border:1px solid #fec109;
        outline: none;
    }
    .btn-form{
        border: none;
        background-color: #fec109;
        color:#000;
        border-radius:5px;
        height:25px;
        width: 200px;
        margin-left:25px;
        margin-top: -15px;
    }
    footer{
        width: 100vw;
        text-align: center;
        margin-top: -10px;
        padding:10px;
        font-size:16px;
    }
}
@media (max-width:1024px){

    header{
        width: 100vw;
        padding:0;
        text-align: center;
    }
        header h1{
            text-align:center;
            margin-left:100px;
        }
        .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:row;
        padding: 5px;
        height: 500px;
    }
        .container-image{
        width: 300px;
        height: 300px;
        margin:-50px 0 0 10px;
        border:none;
        overflow: hidden;
    
    }
    .container-image img{
        width:320px;
        height:100%;
        
}
        .form-container{
        width: 300px;
        height: 450px;
        margin:-50px 20px 0 0;
        margin-left:20px;
        background-color: #00000011;
        padding: 20px;
        border-radius: 5px;
        box-shadow: -5px 5px #0000006f;
        font-size:12px;
        
    }
    textarea{
        height: 30px;
    }
    .form-container form{
        display:flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
        form input{
        padding:5px;
        border:none;
        width: 250px;
        margin:0;
        border-radius: 5px;
        background-color: #f9e7739b;
    }
    input::placeholder{
        color:rgb(13, 13, 13);
    }
    input:focus{
        border-bottom:2px solid #fec109 ;
        outline: none;
    }
    label{
        font-weight:600;
    }
    textarea{
        border: none;
        background-color: #f9e7739b;
        padding: 10px;
    }
    textarea:focus{
        border:1px solid #fec109;
        outline: none;
    }
    .btn-form{
        border: none;
        background-color: #fec109;
        color:#000;
        border-radius:5px;
        height:25px;
        width: 200px;
        margin-left:25px;
        margin-top: -15px;
    }
    footer{
        width: 100vw;
        text-align: center;
        margin-top: -10px;
        padding:10px;
        font-size:16px;
    }
}
@media (max-width:1440px){

    header{
        width: 100vw;
        padding:0;
        text-align: center;
    }
        header h1{
            text-align:center;
            margin-left:100px;
            
        }
        .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:row;
        padding: 5px;
        height: 650px;
    }
        .container-image{
        width: 450px;
        height: 400px;
        margin:-35px 0 0 -50px;
        border:none;
        overflow: hidden;
    
    }
    .container-image img{
        width:420px;
        height:400px;
        
        
        
}
        .form-container{
        width: 300px;
        height: 450px;
        margin:-50px 20px 0 0;
        margin-left:20px;
        background-color: #00000011;
        padding: 20px;
        border-radius: 5px;
        box-shadow: -5px 5px #0000006f;
        font-size:12px;
        
    }
    textarea{
        height: 30px;
    }
    .form-container form{
        display:flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
        form input{
        padding:5px;
        border:none;
        width: 250px;
        margin:0;
        border-radius: 5px;
        background-color: #f9e7739b;
    }
    input::placeholder{
        color:rgb(13, 13, 13);
    }
    input:focus{
        border-bottom:2px solid #fec109 ;
        outline: none;
    }
    label{
        font-weight:600;
    }
    textarea{
        border: none;
        background-color: #f9e7739b;
        padding: 10px;
    }
    textarea:focus{
        border:1px solid #fec109;
        outline: none;
    }
    .btn-form{
        border: none;
        background-color: #fec109;
        color:#000;
        border-radius:5px;
        height:25px;
        width: 200px;
        margin-left:25px;
        margin-top: -15px;
    }
    footer{
        width: 100vw;
        text-align: center;
        margin-top: -50px;
        padding:10px;
        font-size:16px;
    }
}
@media (min-width:2560px){

    header{
        width: 100vw;
        padding:20px;
        text-align: center;
    }
    header h1{
        text-transform: uppercase;
        font-weight: 600;
        margin-right: 100px;
        font-size:56px;
    }
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        height: 900px;
    }
    .container-image{
        width: 600px;
        height: 600px;
        margin-left: -250px;
        border:1px solid var(--bg);
        overflow: hidden;
    
    }
    .container-image img{
        width: 100%;
        height: 100%;
        
    }
    .form-container{
        width: 500px;
        height: 700px;
        margin:-10px 0;
        margin-left:20px;
        background-color: #00000011;
        padding: 30px;
        border-radius: 5px;
        box-shadow: -5px 5px #0000006f;
        
    }
    textarea{
        height: 60px;
    }
    .form-container form{
        display:flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    form input{
        padding:5px;
        border:none;
        width: 450px;
        height:30px;
        margin-left: -10px;
        border-radius: 5px;
        background-color: #f9e7739b;
    }
    input::placeholder{
        color:rgb(13, 13, 13);
    }
    input:focus{
        border-bottom:2px solid #fec109 ;
        outline: none;
    }
    label{
        font-weight:600;
        font-size:22px;
    }
    textarea{
        border: none;
        background-color: #f9e7739b;
        padding: 10px;
    }
    textarea:focus{
        border:1px solid #fec109;
        outline: none;
    }
    .btn-form{
        border: none;
        background-color: #fec109;
        color:#000;
        border-radius:5px;
        height:50px;
        width: 200px;
        margin-left: 120px;
        
    }
    footer{
        width: 100vw;
        text-align: center;
        margin-top: 25px;
        font-size:18px;
    }
}